Bootstrap: docker
From: ubuntu:18.04

%post
    apt update
    git clone -b dev https://github.com/eve-esa/mistral-synth-gen.git
    pip install uv
    cd mistral-synth-gen
    pip install uv
    uv sync

    # Create workdir
    mkdir workspace

%environment
    # Environment variables will be injected here from .env file