Bootstrap: docker
From: ubuntu:22.04

%post
    apt update
    git clone -b dev https://github.com/eve-esa/mistral-synth-gen.git
    cd mistral-synth-gen
    pip install uv
    uv sync
    uv pip install vllm --torch-backend=auto

    # Create workdir
    mkdir workspace

%environment
    # Environment variables will be injected here from .env file
